In [109]:
import pandas as pd

In [110]:
df=pd.read_csv('/home/essey/datastore/csv-files/joined-data-512.csv')

In [111]:
df.head(10)

       image_name   image_depth_name  caption
0   1_2_image.jpg   1_2_depthmap.jpg      NaN
1   1_3_image.jpg   1_3_depthmap.jpg      NaN
2   1_4_image.jpg   1_4_depthmap.jpg      NaN
3   1_5_image.jpg   1_5_depthmap.jpg      NaN
4   1_6_image.jpg   1_6_depthmap.jpg      NaN
5   1_7_image.jpg   1_7_depthmap.jpg      NaN
6   1_8_image.jpg   1_8_depthmap.jpg      NaN
7   1_9_image.jpg   1_9_depthmap.jpg      NaN
8  1_10_image.jpg  1_10_depthmap.jpg      NaN
9  1_11_image.jpg  1_11_depthmap.jpg      NaN

In [112]:
names=df['image_name'][:]

In [113]:
names.head(10)

0     1_2_image.jpg
1     1_3_image.jpg
2     1_4_image.jpg
3     1_5_image.jpg
4     1_6_image.jpg
5     1_7_image.jpg
6     1_8_image.jpg
7     1_9_image.jpg
8    1_10_image.jpg
9    1_11_image.jpg
Name: image_name, dtype: object

In [114]:
v=df['caption'][:]

In [115]:
v.head(10)

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN
Name: caption, dtype: float64

In [103]:

for i in range(7994):

In [120]:
v

0                             a smiling face,smiling
1                        streching his mouth, grining
2                   an angry face, angry expressions
3                        a face showing his left jaw
4                     a face showing his right jaw  ,
                            ...
7989                      a grining expression, grin
7990         cheeks blown, a face blowing thier chees
7991                  a  face with thier eyes closed
7992    a face raising thier brows, eye brows rasied
7993                an expression lowering thier brow
Name: caption, Length: 7994, dtype: object

In [118]:
for i in range(7994):
    b=names[i]
    b=b.split('_', 3)
    case_number=int(b[1])
    if case_number == 1:
        # Code for case 1
        v[i]="a nuetral face, no emotion "
    elif case_number== 2:
        # Code for case 2
        v[i]="a smiling face,smiling "
    elif case_number == 3:
        # Code for case 3
        v[i]="streching his mouth, grining"
    elif case_number== 4:
        # Code for case 2
        v[i]="an angry face, angry expressions "
    elif case_number == 5:
        # Code for case 3
        v[i]="a face showing his left jaw "
    elif case_number == 6:
        # Code for case 2
        v[i]="  a face showing his right jaw  ,"
    elif case_number == 7:
        # Code for case 3
        v[i]="a face showing his  jaw forward ,"
    elif case_number == 8:
        # Code for case 2
        v[i]="a face streching his mouth left "
    elif case_number == 9:
        # Code for case 3
        v[i]="a face streching his mouth right"
    elif case_number == 10:
        # Code for case 2
        v[i]="a face showing his dimple "
    elif case_number == 11:
        # Code for case 3
        v[i]="a face raising his chin "
    elif case_number == 12:
        # Code for case 3
        v[i]="a face puckering his lip"
    elif case_number == 13:
        # Code for case 3
        v[i]="a face making a funnel with his mouth "
    elif case_number == 14:
        # Code for case 3
        v[i]="a face emitating a sad expression "
    elif case_number == 15:
        # Code for case 3
        v[i]="an expression of rolling thier lip "
    elif case_number == 16:
        # Code for case 3
        v[i]="a grining expression, grin "
    elif case_number == 17:
        # Code for case 3
        v[i]="cheeks blown, a face blowing thier chees"
    elif case_number == 18:
        # Code for case 3
        v[i]="a  face with thier eyes closed "
    elif case_number == 19:
        # Code for case 3
        v[i]="a face raising thier brows, eye brows rasied "
    elif case_number == 20:
        # Code for case 3
        v[i]="an expression lowering thier brow"

In [122]:
df['caption']=v

In [123]:
df.head(10)

       image_name   image_depth_name                            caption
0   1_2_image.jpg   1_2_depthmap.jpg            a smiling face,smiling
1   1_3_image.jpg   1_3_depthmap.jpg       streching his mouth, grining
2   1_4_image.jpg   1_4_depthmap.jpg  an angry face, angry expressions
3   1_5_image.jpg   1_5_depthmap.jpg       a face showing his left jaw
4   1_6_image.jpg   1_6_depthmap.jpg    a face showing his right jaw  ,
5   1_7_image.jpg   1_7_depthmap.jpg  a face showing his  jaw forward ,
6   1_8_image.jpg   1_8_depthmap.jpg   a face streching his mouth left
7   1_9_image.jpg   1_9_depthmap.jpg   a face streching his mouth right
8  1_10_image.jpg  1_10_depthmap.jpg         a face showing his dimple
9  1_11_image.jpg  1_11_depthmap.jpg           a face raising his chin

In [124]:
df.to_csv('/home/essey/datastore/csv-files/joined-data-512-2.csv')